<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class=""><a href="/">Главная</a></li>
          <li><a href="/courses">Курсы</a></li>
          <li><a href="/contact">Обратная связь</a></li>
          <li><a href="/personal_page">Личный кабинет</a></li>
          <li><a href="/registration">Регистрация</a></li>
          <li><a href="#">Войти</a></li>
        </ul>
      </div>