{% extends 'base.html' %}

{% block title %}
  <title>Наши студенты</title>
{% endblock %}

{% block content %}
      <div id="content">
        <!-- insert the page content here -->
        <h1>Записать студента на курс</h1>
        <form method="post">
              <h4>Выберите курс</h4>
          <select name="course">
              {% for item in courses %}
                <option>{{ item.name }}</option>
              {% endfor %}
          </select>
              <h4>Выберите категорию</h4>
          <select name="student">
              {% for item in students %}
                <option>{{ item.name }}</option>
              {% endfor %}
          </select>
              <br>
              <button type="submit">Записать и перейти на главную</button>
          </form>
      </div>
{% endblock %}
