{% extends 'base.html' %}

{% block title %}
  <title>Создать новый курс</title>
{% endblock %}

{% block content %}
      <div id="content">
        <h3>Создание курса</h3>

          <form method="post">
              <h4>Выберите тип</h4>
          <select name="type">
              <option>interactive</option>
              <option>record</option>
          </select>
              <h4>Выберите категорию</h4>
          <select name="category">
              {% for item in objects_list %}
                <option>{{ item.name }}</option>
              {% endfor %}
          </select>
              <br>
              <h4>Введите название курса</h4>
              <input type="text" name="name" placeholder="Название">
              <button type="submit">Сохранить и перейти к списку</button>
          </form>
        <a href="/"><h5>Вернуться в меню</h5></a>
      </div>
{% endblock %}